<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @advice.message %>
</p>

<p>
  <strong>Question:</strong>
  <%= @advice.question_id %>
</p>

<p>
  <strong>Lawyer:</strong>
  <%= @advice.lawyer_id %>
</p>

<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
