<h1>Advanced Search</h1>

<%= form_with model: @search do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :address %>
    <%= f.select :address, options_for_select(@address), include_blank: true %><br><br>

    <%= f.submit "Search" %>
<% end %>

<p><%= link_to "Back", '/lawyers' %></p>